.rpcsetting-select {
  display: flex;
}

.rpcsetting-select .select-1YfRS9 {
  width: -webkit-fill-available;
}

.rpcsetting-select button {
  margin-left: 9px;
}

.userProfileScroll-crpc {
  padding: 8px 0;
  height: 100%;
}

.userProfile-crpc {
  position: relative;
  padding: 16px;
}

.crpc-edit {
  width: 800px;
}

.crpc-notice {
  position: fixed;
}

.crpc-lowerMargin {
  margin-left: 5px;
  margin-right: 5px;
}
